* {
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  width: 150px;
  border-radius: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 1140px;
  background-color: #7aff7a;
  justify-content: space-evenly;
  text-align: center;
}


.card {
  display: flex;
  justify-content: center;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.data {
    display: flex;

}
